@model VehicleListViewModel

@{
    ViewData["Title"] = "Search - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_SearchPartial" />
<br />
@foreach (var p in Model.Vehicles)
{
    <a asp-controller="home" asp-action="Vehicle" asp-route-vehicleId="@p.Id">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="@p.ImageUrl">
                    </div>
                    <div class="col-md-8">
                        <h3>@p.Brand.Name @p.Model  @p.ModelDescription</h3>
                        <p>@p.Year | @p.Mileage mil | @p.Dealership.City</p>
                        <h4>@($"{p.Price:C0}")</h4>
                        <input type="hidden" name="vehicleID" value="@p.Id" />
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br />
}
@if (Model.ShowButton == true)
{
    <a class="btn btn-primary" href="/?Page=@Model.NextPage">Visa fler</a>
}