@model VehicleListViewModel
@{
    ViewData["Title"] = "Bolinders Bil : Startsidan";
}
<partial name="_SearchPartial" />
<br />
@if (Model.BrandsInStock != null)
{
    <div class="card text-center">
        <div class="card-body">
            @foreach (var b in Model.BrandsInStock)
            {
                <a href="sök?SearchString=@b.Name"><img height="70" src="@b.LogoUrl" alt="@b.Name" title="@b.Name"></a>
            }
        </div>
    </div>
    <br />
}
@foreach (var p in Model.Vehicles)
{
    <a asp-controller="home" asp-action="Vehicle" asp-route-vehicleId="@p.Id" asp-route-brandName="@p.Brand.Name" asp-route-model="@p.Model" asp-route-modelDescription="@p.ModelDescription">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        @foreach (var im in p.FileUpload)
                        {
                            @if (p.FileUpload.First() == im)
                            {
                                <img class="img-fluid" src="@im.FilePath" alt="@im.FileTitle" />
                            }


                        }
                    </div>
                    <div class="col-md-8">
                        <h3>@p.Brand.Name @p.Model  @p.ModelDescription</h3>
                        <p>@p.Year | @p.Mileage km | @p.Dealership.City</p>
                        <h4>@($"{p.Price:C0}")</h4>
                        <input type="hidden" name="vehicleID" value="@p.Id" />
                    </div>
                </div>
            </div>
        </div>
    </a>
    <br />
}
@if (Model.ShowButton == true)
{
    <a class="btn btn-primary" href="?Page=@Model.NextPage">Visa fler</a><br /><br />
}
@if (Model.ArticlesResults != null)
{
    <h3>Nyheter</h3>
    @foreach (var article in Model.ArticlesResults.Articles.Take(3))
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@article.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@article.Author - <i><small>@article.PublishedAt</small></i></h6>
                <p class="card-text">@NewsApiExtension.ShortenString(article.Description, 50)...</p>
                <a href="@article.Url" target="_blank" class="card-link">Läs mer</a>
                <br />
            </div>
        </div>
        <br />
    }
}