@model Vehicle

@{
    ViewData["Title"] = "ViewVehicle";
    var x = (int)Model.Price * 0.8;
}

<h2>@Model.Brand.Name @Model.Model  @Model.ModelDescription</h2>
<div class="card">
    <div class="card-body">
        <img class="img-fluid" src="@Model.ImageUrl">
        <h4>
            Pris: @($"{Model.Price:C0}") inkl. moms
            @if (Model.Lease == true)
            {
                @($" ({x:C0} exkl. moms)")
            }
        </h4>
        @if (Model.Used == true)
        {
            <strong>Begagnad</strong><br />
        }
        else
        {
            <strong>Ny bil</strong><br />
        }
        <strong>Årsmodell:</strong> @Model.Year<br />
        <strong>Kilometer:</strong> @Model.Mileage<br />
        <strong>Registreringsnummer:</strong> @Model.RegistrationNumber<br />
        <strong>Karosstyp:</strong> @Model.Body<br />
        <strong>Färg:</strong> @Model.Color<br />
        <strong>Växellådstyp:</strong> @Model.Transmission<br />
        <strong>Bränsletyp:</strong> @Model.Fuel<br />
        <strong>Hästkrafter:</strong> @Model.Horsepower<br />
        <strong>Anläggning:</strong> @Model.Dealership.City<br />
        <strong>Pipe-separerad attributlista:</strong> @Model.Attributes<br />
    </div>
</div>