@model SingleVehicleViewModel
@{
    ViewData["Title"] = $"Bolinders Bil : {Model.Vehicle.Brand.Name} {Model.Vehicle.Model} {Model.Vehicle.ModelDescription}";
}

<h2>@Model.Vehicle.Brand.Name @Model.Vehicle.Model  @Model.Vehicle.ModelDescription</h2>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="@Model.Vehicle.ImageUrl"><br /><br />
                <h4>
                    Pris: @($"{Model.Vehicle.Price:C0}") inkl. moms
                    @if (Model.Vehicle.Lease == true)
                    {
                        @($" ({(int)Model.Vehicle.Price * 0.8:C0} exkl. moms)")
                    }
                </h4>
                @if (Model.Vehicle.Used == true)
                {
                    <strong>Begagnad</strong><br />
                }
                else
                {
                    <strong>Ny bil</strong><br />
                }
                <strong>Årsmodell:</strong> @Model.Vehicle.Year<br />
                <strong>Kilometer:</strong> @Model.Vehicle.Mileage<br />
                <strong>Registreringsnummer:</strong> @Model.Vehicle.RegistrationNumber<br />
                <strong>Karosstyp:</strong> @Model.Vehicle.Body<br />
                <strong>Färg:</strong> @Model.Vehicle.Color<br />
                <strong>Växellådstyp:</strong> @Model.Vehicle.Transmission<br />
                <strong>Bränsletyp:</strong> @Model.Vehicle.Fuel<br />
                <strong>Hästkrafter:</strong> @Model.Vehicle.Horsepower<br />
                <strong>Kontakta säljaren: </strong>Bilen finns i @Model.Vehicle.Dealership.City, <a href="tel:+46 @Model.Vehicle.Dealership.Phone">@Model.Vehicle.Dealership.Phone</a><br />
                <strong>Extrautrustning:</strong><br />
                <ul>
                    @if (Model.Vehicle.Attributes != null)
                    {
                        @foreach (var att in Model.Vehicle.Attributes.Split("|").SkipLast(1))
                        {
                            <li>@att</li>
                        }
                    }
                    else
                    {
                        <li>Ingen Extrautrustning</li>
                    }
                </ul><br />
                <div class="form-inline">
                    <form asp-action="SendLink" asp-controller="Home" method="post">
                        <input asp-for="SendMail" type="email" id="textsend" onkeyup="success()" placeholder="Skriv in e-postadressen..." class="form-control mr-1" />
                        <input asp-for="Url" type="hidden" id="UrlAdvert" value='@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")' /><button type="submit" id="send" class="btn btn-primary" disabled>Skicka Annonslänk</button>
                        <input asp-for="ResendId" type="hidden" value="@Model.Vehicle.Id" />
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>Billån</h4>
                <strong>Kontantinsats:</strong> @($" {(int)Model.Vehicle.Price * 0.2:C0} (inkl. moms)")<br />
                <strong>Ränta:</strong> 4,5%<br />
                <input id="amount" type="number" value="@Math.Round((int)Model.Vehicle.Price * 0.8)" min="0" max="10000000" step="any" onchange="carLoan();" hidden />
                <input class="form-control w-50" id="interest_rate" type="number" min="0" max="100" value="4.5" step=".1" onchange="carLoan();" hidden>
                <strong>Avbetalningstid: </strong>
                <select class="form-control w-50" id="months" onchange="carLoan();">
                    <option value="12">12 månader</option>
                    <option value="24">24 månader</option>
                    <option value="36">36 månader</option>
                    <option value="48">48 månader</option>
                    <option value="60">60 månader</option>
                    <option value="72">72 månader</option>
                </select>
                <p id="payment"></p>
            </div>
        </div>
    </div><br />
</div>
<br />
@if (Model.RelatedVehicles != null && Model.RelatedVehicles.GetEnumerator().MoveNext())
{
    <h5>Relaterade fordon</h5>
    <div class="card-deck">
        @foreach (var v in Model.RelatedVehicles)
        {
            <div class="card">
                <div class="card-body">
                    <a asp-action="Vehicle" asp-route-vehicleId="@v.Id">
                        <img class="img-fluid" src="@v.ImageUrl"><br />
                        <h6>@v.Brand.Name @v.Model  @v.ModelDescription</h6>
                        <p>@v.Year | @v.Mileage km | @v.Dealership.City</p>
                        <strong>@($"{v.Price:C0}")</strong>
                        <input type="hidden" name="vehicleID" value="@v.Id" />
                    </a>
                </div>
            </div>
        }
    </div>
}