@model VehicleListViewModel
@{
    Layout = "_Admin";
}
<partial name="_SearchPartial" />
<br />
<div class="card">
    <div class="card-body">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkAll">
            <label class="custom-control-label" for="checkAll">Markera alla fordon i listan nedan</label>
        </div>
        <br />
        <form asp-controller="admin" asp-action="DeleteBulk" onsubmit="return confirm('Vill du verkligen ta bort fordonen?')" method="post">
            <input type="hidden" id="vehiclesIdToDelete" name="vehiclesIdToDelete" />
            <button type="submit" class="btn btn-danger" id="deleteBulk">Ta bort markerade fordon</button>
        </form>
    </div>
</div>
<br />

@foreach (var p in Model.Vehicles.OrderBy(p => p.DateUpdated))
{
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="@p.ImageUrl">
                </div>
                <div class="col-md-8">
                    <p class="float-right"><i><small>Tillagd: @p.DateAdded</small></i><br /><i><small>Uppdaterad: @p.DateUpdated</small></i></p>
                    <form asp-controller="admin" asp-action="Delete" onsubmit="return confirm('Vill du verkligen ta bort fordonet?')" method="post">
                        <h3>@p.Brand.Name @p.Model  @p.ModelDescription</h3>
                        <p>@p.Year | @p.Mileage km | @p.Dealership.City</p>
                        <h4>@($"{p.Price:C0}")</h4>
                        <a asp-controller="admin" asp-action="Edit" class="btn btn-warning" asp-route-vehicleId="@p.Id">Redigera</a>
                        <input type="hidden" name="vehicleID" value="@p.Id" />
                        <button type="submit" class="btn btn-danger">Ta bort</button>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="deleteVehicleId" value="@p.Id">
                            <label class="form-check-label" for="deleteVehicle">Markera fordon</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
}
@if (Model.ShowButton == true)
{
    <a class="btn btn-primary" href="?Page=@Model.NextPage">Visa fler</a>
}