@model IEnumerable<Vehicle>
@{
    Layout = "_Admin";
}
<partial name="_SearchPartial" />
<br />
@foreach (var p in Model)
{
<div class="card">
    @*<img class="card-img-top" src="@p.ImageUrl" />*@
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="@p.ImageUrl">
            </div>
            <div class="col-md-8"><p class="float-right"><i><small>Tillagd: @p.DateAdded</small></i><br /><i><small>Uppdated: @p.DateUpdated</small></i></p>
                <h3>@p.Brand.Name @p.Model  @p.ModelDescription</h3>
                <p>@p.Year | @p.Mileage mil | @p.Dealership.City</p>
                <h4>@($"{p.Price:C0}")</h4>
                <ul>
                    @foreach (var a in Model)
                    {
                        <li>@(a.Attributes.Split('|'))</li>
                    }

                </ul>


                <a asp-action="Edit" class="btn btn-warning" asp-route-vehicleId="@p.Id">Redigera</a>
                <button class="btn btn-danger">Ta bort</button>
            </div>
        </div>
    </div>
</div>
    <br />
}
<button class="btn btn-primary" type="submit">Visa fler</button>