@model IEnumerable<Vehicle>
@{
    Layout = "_Admin";
}

<partial name="_SearchPartial" />

<br />
@foreach (var p in Model)
{
    <div class="card">
        <div class="card-body">
            <img src="@p.ImageUrl">
            <p>@p.BrandId @p.Model  @p.ModelDescription</p>
            <p>@p.Year | @p.Mileage mil | @p.DealerShipId</p>
            <h4>@($"{p.Price:C2}")</h4>
        </div>
    </div>
    <br />
}
<button class="btn btn-primary" type="submit">Visa fler</button>